@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Vesper+Libre:wght@400;500;700;900&display=swap');



body{
    background-image: url(https://wallpapers.com/images/hd/light-black-background-1080-x-1920-oa3pfqdtxcq0hjy1.jpg);
    background-size: cover;
   
    
}

.cabeçalho{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    padding: 24px;

}
.cabeçalho-imagem{
    height: 72px;
}
.cabeçalho-menu{
    display: flex;
    gap: 32px;

}
.cabeçalho-menu-item{
    font-family: "Inter", sans-serif;
    color: #ffffff;
    font-weight: 400;
    font-size: 18px;

}
.conteudo{
    margin-bottom: 48px;
    border-top: 0.4px solid #706b6b; 
}
.conteudo-principal{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;

}
.conteudo-principal-escrito{
    display: flex;
    flex-direction: column;
    gap: 32px;
}

.conteudo-principal-escrito-titulo{
    font-family: "Inter", sans-serif;
    font-weight: 400;
    font-size: 64px;
    color: #ffffff;

}

.conteudo-principal-escrito-subtitulo{
    font-family: "Inter", sans-serif;
    font-weight: 400;
    font-size: 34px;
    color: #ffffff;
}

.conteudo-principal-escrito-botão{
    background-color: #DFBBBB;
    width: 130px;
    height: 100px;
    border: none;
    font-family: "Inter", sans-serif;
    font-weight: 400;
    font-size: 24px;
    color: #713a3a;
}

.conteudo-principal-escrito-botão:hover{
    background-color: rgba(17, 17, 17, 0.53);
}

.conteudo-principal-video{
    height: 430px;

}

.conteudo-secundario{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 34px;
    margin-top: 48px;

}

.conteudo-secundario-titulo{
    border-top: 0.4px solid #ffffff;
    padding-top: 58px;
    font-family: "Inter", sans-serif;
    font-weight: 400;
    font-size: 34px;
    color: #ffffff;margin-bottom: 16px;

}

.conteudo-secundario-paragrafo{
    padding-top: 48px;
    font-family: "Inter", sans-serif;
    font-weight: 200;
    font-size: 14px;
    color: #ffffff;
}

.rodape{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 32px;
    border-top: 0.4px solid #706b6b;
}

.rodape-imagem{
    display: flex;
    flex-direction: row;
    height: 48px;
    display: block;
    margin: 0;
}

.rodape-imagem{
    display: flex;
    flex-direction: row;
    height: 48px;
    display: block;
    margin: 0;
}

.rodape-imagem{
    display: flex;
    flex-direction: row;
    height: 48px;
    display: block;
    margin: 0;
}

.rodape-imagem{
    display: flex;
    flex-direction: row;
    height: 48px;
    display: block;
    margin: 0;
}